

#film1 {
  background: linen; /* Цвет фона */
  color: peru; /* Цвет текста */
  padding: 5px; /* Поля */
  float: none;
}
#film2 {
  background: lavender; /* Цвет фона */
  color: steelblue; /* Цвет текста */
  padding: 5px; /* Поля */
  float: none;
}

#film3 {
  background: whitesmoke; /* Цвет фона */
  color: dimgray; /* Цвет текста */
  padding: 5px; /* Поля */
  float: none;
}
#film4 {
  background: oldlace; /* Цвет фона */
  color: tan; /* Цвет текста */
  padding: 5px; /* Поля */
  float: none;
}
#film5 {
  background: honeydew; /* Цвет фона */
  color: darkgreen; /* Цвет текста */
  padding: 5px; /* Поля */
  float: none;
}
div {
  background: azure; /* Цвет фона */
  color: deepskyblue; /* Цвет текста */
  padding: 3px; /* Поля */
 }

 form {
   height: auto;
   width: 80%;
   background: white;
   color: black;
 }

 .image {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
   width: auto;
   height: auto;
 }

 .container_menu_header {
   display: flex;
   flex-flow: wrap;
   justify-content: space-around;
   align-items: baseline;
   align-content: center;
   background: rgba(34,54,151,0.1);
 }

 .item_header {
  flex: 0,1,auto;
  align-self: center;
  background:rgba(09,24,110,0.3);
}

.container_menu_footer {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  background: yellow;
}

.item_footer {
 flex: 0,1,auto;
 align-self: flex-start;
 background: orange;
}


@media all and (max-width: 320px) {
              /*При изменении ширины окна до 320px, меню не должно разваливаться*/
  .menu {

   }
}

@media all and (main-width: 740px) {
  * {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-align:justify;
    width: 740px;

  }
}

[id~=info] {
   text-align:right;
 }

 /*[id=image_svg1] {
   width: 200px;
   height: 70px;
   background-repeat: repeat-x;
 }*/



 #creator_site {
     position: absolute;
     color: red;
     top: 4px;
     left: 3px;
     font-size: 14px;
     font-weight:bold;

 }
 #create_data {
   position: absolute;
   color: pink;
   background: 9900000.5;
   top: 25px;
   left: 5px;
   font-size: 10px;
 }
h1, h2 {
  text-align: center;
}
 * {
   font-family: monospace;
   margin: 3px;
   padding: 2px;
   border: 1px;
   text-align:justify;

 }
